* {
  box-sizing: border-box; }

body {
  font-family: Helvetica; }

a {
  text-decoration: none;
  cursor: pointer; }

/****************************
          HEADER
****************************/
header {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  text-align: left; }
  header nav {
    margin: 0 auto;
    width: 80%; }
  header ul, header li {
    display: inline-block;
    margin: 0; }
  header a {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    color: #333;
    margin-left: 5px; }
  header ul#rightNav {
    margin-left: 27%;
    vertical-align: 30%; }
  header ul#leftNav {
    vertical-align: 30%;
    padding-left: 1%; }
  header input[type="text"] {
    vertical-align: 30%;
    width: 36%;
    padding: 0.5%;
    color: #aaa;
    font-size: 13px; }

header img.avatar {
  width: 20px;
  height: 20px; }

header span.mega-octicon {
  margin-right: 10px;
  margin-left: -2px;
  color: #333; }

#container {
  width: 80%;
  margin: 1.5% auto;
  height: 1000px; }

/****************************
          ASIDE
****************************/
aside {
  display: inline-block;
  width: 20%; }
  aside img {
    border: 0;
    width: 100%;
    border-radius: 5%;
    text-align: center; }
  aside h1 {
    margin: 0;
    font-size: 26px;
    padding-left: 1%;
    padding-top: 3%; }
  aside h3 {
    margin: 0;
    color: #666;
    font-weight: 300;
    padding-left: 1%; }
  aside p.lines {
    display: inline-block;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px 20px;
    font-size: 13px; }
  aside div.statusBox {
    display: inline-block;
    width: 30%;
    text-align: center; }

aside .statusBox p {
  margin: 0;
  font-size: 13px; }

aside .statusBox h1 {
  color: #4078c0; }

.orgs img {
  text-align: left;
  padding-top: 20px;
  width: 20%; }

.orgs h4 {
  color: #333;
  margin-bottom: 0; }

/****************************
           SECTION
****************************/
section {
  display: inline-block;
  vertical-align: top;
  width: 77%;
  margin-left: 20px; }
  section a.sectionLinks {
    padding-left: 20px;
    color: #666; }
  section nav#sectionNav {
    margin-bottom: 15px; }
  section div.right {
    display: inline-block;
    padding-left: 280px;
    padding-top: 20px; }
  section span {
    padding-right: 5px; }
  section a#profileButton {
    color: #333;
    background-color: #eee;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    font-size: 13px;
    font-weight: bold;
    padding: 2px 10px; }

/****************************
      SUB-SECTION NAV
****************************/
.inactive {
  display: none; }

div.subSectionNav {
  padding-left: 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }
  div.subSectionNav input[type="button"] {
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    color: #333; }
  div.subSectionNav input[type="text"] {
    width: 260px;
    padding: 7px 8px;
    font-size: 13px;
    color: #aaa;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px; }
  div.subSectionNav ul {
    display: inline-block;
    padding-left: 10px; }
  div.subSectionNav li {
    display: inline-block;
    margin-left: 12px;
    font-size: 14px; }
  div.subSectionNav a.links {
    color: #4078c0; }
  div.subSectionNav a#greenButton {
    margin-left: 30px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    background-color: #60b044;
    padding: 6px 12px;
    border: 1px solid #d5d5d5;
    border-radius: 5px; }

div.repoList {
  padding-top: 15px;
  padding-bottom: 30px;
  list-style: none;
  border-bottom: 1px solid #eee; }
  div.repoList a.repoHeadline {
    color: #4078c0; }
  div.repoList h3 {
    display: inline-block;
    padding-right: 500px; }
  div.repoList div.repoStats {
    display: inline; }
  div.repoList span {
    font-size: 12px;
    font-weight: bold;
    color: #888; }
  div.repoList p {
    display: block;
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 13px;
    color: #888; }
